/**
* Theme variables
 */

:root {
    /** Custom Light Theme **/
    --bg-container-light-accent: #788CB2;
    --bg-container-light: #ADBDDC;
    --bg-elements-light: #CBD6EC;
    --bg-btn-accent-light: #345CC0;
    --color-btn-text-light: #374E83;
    --color-text-operators-light: #3A61C0;
    --color-text-red-light: #B7403A;
    --color-text-black-light: #1D1D1D;
    --color-text-gray-light: #8D8E91;

    /** Custom Dark Theme **/
    --bg-container-dark-accent: #0D121F;
    --bg-container-dark: #0C1320;
    --bg-elements-dark: #242B3C;
    --bg-btn-accent-dark: #85A1E2;
    --color-btn-text-dark: #F9F9FA;
    --color-text-red-dark: #B7413B;
    --color-text-gray-dark: #878889;
}


.calculator {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to top, var(--bg-container-dark-accent), var(--bg-container-dark));
    transition: background-color 1s ease, color 1s ease, background-image 1s ease;
}

.calculator.light {
    background-image: linear-gradient(to top, var(--bg-container-light-accent), var(--bg-container-light));
}

.calculator__display {
    width: 100%;
    height: 35%;
    color: var(--color-btn-text-dark);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    font-size: 2rem;
    background-color: var(--bg-elements-dark);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.calculator.light .calculator__display {
    color: var(--color-text-black-light);
    background-color: var(--bg-elements-light);
}

.calculator.light .calculator__display--separator {
    background-color: var(--bg-container-light-accent);
}

.calculator__display__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator__display__input {
    color: var(--color-text-gray-dark);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.calculator.light .calculator__display__input {
    color: var(--color-text-gray-light);
}

.calculator__display__output {
    font-size: 3.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.calculator__display--separator {
    width: 100%;
    height: 1px;
    background-color: var(--bg-container-dark);
}

.calculator__divs {
    width: 100%;
    height: 65%;
    padding: 0 1rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.calculator__divs .calculator__divs__keys {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    place-content: center;
}

.calculator__divs__keys div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    color: var(--color-btn-text-dark);
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 1.5rem;
    background-color: var(--bg-elements-dark);
}

.calculator__divs .calculator__divs__keys div.keys__reset {
    color: var(--color-text-red-dark);
    font-weight: bold;
}

.calculator.light .calculator__divs .calculator__divs__keys div.keys__reset{
    color: var(--color-text-red-light);
    font-weight: bold;
}

.calculator__divs .calculator__divs__keys div.keys__accent {
    background-color: var(--bg-btn-accent-dark);
}

.calculator.light .calculator__divs .calculator__divs__keys div.keys__accent {
    background-color: var(--bg-btn-accent-light);
    color: var(--color-btn-text-dark);
}

.keys__sup sup {
    font-size: 1rem;
}

.calculator.light .calculator__divs__keys div {
    color: var(--color-btn-text-light);
    background-color: var(--bg-elements-light);
}






